h1{
    font-family: fantasy;
    font-size: 32px;
    padding: 0%;
    color: white;
    font-weight: bolder;  
}
body{
    font-family: fantasy;
    font-size: 20px;
    padding: 1%;
    color: goldenrod;
    background-color: crimson;
}
summary{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 1%;
    color: ghostwhite;
    background-color: black;
    letter-spacing: 3px;
}
details{
    font-style: italic;
    background-color: brown;
    width: 100%;
}
hr{
    height: 10px;
    background-color: white;
}
article{
    width: 100%;
}
